<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalogue</title>
</head>
<body>
<button type="submit"><a href="/products/form/0">Create new product</a></button>
<h1>List of products</h1>
<table>
    <thead>
        <tr>
            <td>Название</td>
            <td>Цена</td>
        </tr>
    </thead>
    <tr th:each="p : ${products}">
        <td hidden th:text="${p.id}"></td>
        <td th:text="${p.title}"></td>
        <td th:text="${p.price}"></td>
        <td><a th:href="@{'/products/form/' + ${p.id}}">Change</a></td>
    </tr>
</table>
</body>
</html>